[contenteditable="true"]{
  padding: 4px;
}

[contenteditable="true"]:focus {
  background-color: #dbfde4; 
  outline: none; 
  border-radius: 12px;
  padding: 4px;
}

.block-container-link-page{
  background-color: #f2f5f2;
  text-align: right;
}
.block-container-link-page .btn-web-link{
  background-color: #2bc9b4a4;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  
}
.btn-web-link {
  font-weight: bold;
  font-size: 16px; 
  color: #0f0f0f;
  background-color: #8a00cac4;
  border-radius: 0px 0px 8px 0px;
  color: #000000;
  border-bottom: 2px solid #000000; 
  box-shadow: 0 4px 26px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
}
.btn-web-link-copy{
  margin-right: 2px;
  background-color: #b7b8afc4;
}

.btn-web-link-pro{
  background-color: #10e04fc4;
}
.btn-cb:hover{
  background-color: #02f0a1;
}

.btn-web-link:hover {
  font-weight: bold;
  font: size 18px;
  color: #0f0f0f;
  background-color: #ac0738b4;
  border-radius: 0px 0px 8px 8px;
  color: #000000;
  border-bottom: 2px solid #1db959; 
  box-shadow: 0 4px 26px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
}

#btn-cbedit {
  position: absolute;
  bottom: 0;
  right: 22;
  margin-bottom: 6px;
  margin-left: 2px;
  font-size: 12px;
  background-color: #7f8d8638;
  color: #000102;
  
}

.container-json {
  display: grid;
  grid-template-columns: 1fr 100px 1fr;
  align-items: center;
 background-color: #1d0d02;
  box-sizing: border-box;
  padding: 20px;
  gap: 20px;
}

.large-area-json { 
  height: 360px;
  width: 860px;
  padding: 20px;
  box-sizing: border-box;
  color: #aaaaaa;
  background: #444444;
  border: none;
  border-radius: 10px;
  outline: none;
  resize: none;
  font-family: monospace;
  transition: background 0.25s, color 0.25s;
  border: 2px dashed #01be60;
}

.large-area-json:hover,
.large-area-json:focus {
  background: #4a4a4a;
}

.large-area-json:focus {
  color: #eeeeee;
}

.btn-chaturone {
  text-align: center;
  border-radius: 8px;
  border-top: 3px dashed #303131;
  border-bottom: 3px dashed #202523;
  background-color: #FFDEE9;
  background-image: linear-gradient(0deg, #FFDEE9 0%, #B5FFFC 100%);
  font-weight: bold;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  /*max-width: 100%;*/
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.btn-chaturone:hover {
  text-align: center;
  border-radius: 8px;
  background-color: #8EC5FC;
  background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
}

.btn-chatur {
  margin-top: 12px;
}

.btn-chatur.style1 {
  border-radius: 8px;
  border-bottom: 3px solid  #202523;
  background-color: #FFDEE9;
  background-image: linear-gradient(0deg, #fffede 0%, #ffb5ed 100%);
  font-weight: bold;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  transition-duration: 0.4s;
  cursor: pointer;
}
.btn-chatur.style1:hover {
  background-color: #FFDEE9;
  background-image: linear-gradient(0deg, #fffede 0%, #f08ed7 100%);
}

.btn-chatur.style2 {
  text-align: center;
  border-radius: 8px;
  background-color: #FFDEE9;
  background-image: linear-gradient(0deg, #FFDEE9 0%, #B5FFFC 100%);
  font-weight: bold;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-top: 8px;
}

.btn-chatur.style2:hover {
  background-image: linear-gradient(0deg, #FFDEE9 0%, #e1e96c 100%);
  color: black;
}

.btn-chatur.style3 {
  text-align: center;
  border-radius: 8px;
  background-color: #FFDEE9;
  color: #f7f7f7;
  background-image: linear-gradient(0deg, #3b222b 0%, #530481 100%);
  font-weight: bold;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.btn-chatur.style3:hover {
  color: #f7f7f7;
  background-image: linear-gradient(0deg, #3b222b 0%, #341f42 100%);
}

.img-cb-link {
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 2.2); 
  display: block;
  margin: 0 auto;
  border: 4px solid #382f37;
  margin-bottom: 3px;
}

.input-link-editor {
  border: none;
  border-bottom: 1px dashed #0df56e;
  outline: none;
  padding: 5px;
  font-size: 16px;
}

.input-cb {
  border: none;
  border-bottom: 1px dashed #ccc;
  outline: none;
  padding: 5px;
  font-size: 16px;
}
.input-cb[type="text"] {
  background-color: #f9f9f9;
}

.input-cb[type="text"]:focus {
  background-color: #fff;
}


#saveButton {
  position: fixed;
  top: 96%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1900;
  background-color: #e7e5e7;
  color: #0e110e;
  border: 4px solid #9b6d9b88;
  
  font-weight: bold;
  background-color: #8EC5FC;
  background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);

}

#editorjs img {
  cursor: url('/public/icons/edit_img.png'), auto;
}

#gallery-apps-ids img {
  cursor: url('/public/icons/punter-checkbox.png'), auto;
}

.gallery_img_shadow {
  box-shadow: 0 0 12px rgba(159, 34, 243, 0.795);
  filter: blur(16px);
  -webkit-filter: blur(1px);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.border-darkpor {
  border: 1px solid #2b123a;
  padding: 0.70px;
}

input[type=file]::file-selector-button {
  margin-right: 20px;
  border: none;
  border: 1px dashed #5a5e5a;
  background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
  color: #000000;
  border-radius: 10px;
  cursor: pointer;
  transition: background .2s ease-in-out;
}

input[type=file]::file-selector-button:hover {
  background: #0d45a5;

}

.cdxcarousel-removeBtn {
  position: absolute;
  padding: 3px;
  right: 10px;
  top: 10px;
  display: inline-flex;
  width: 34px;
  height: 34px;
  line-height: 34px;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  cursor: pointer;
  border: 0;
  outline: none;
  background-color: white;
  color: #000;
  transition: background 200ms;
}

.cdxcarousel-removeBtn::before,
.cdxcarousel-removeBtn::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 12px;
  background-color: #000;
  transform: translate(-50%, -50%) rotate(45deg);
}

.cdxcarousel-removeBtn::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.cdxcarousel-removeBtn:hover::before,
.cdxcarousel-removeBtn:hover::after {
  background-color: #f00;
}

.image-gallery textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #e4e4e4;
  border-radius: 3px;
  outline: none;
  font-size: 14px;
  height: 100px;
  resize: none;
  display: flex;
  background-color: #97f0c3;
  height: 90px;
}

.img-blur2 {
  filter: blur(8px);
  -webkit-filter: blur(6px);
  /* Full height */
  height: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.image-tool--img-blur .image-tool__image .image-tool__image-picture {
  filter: blur(8px);
  -webkit-filter: blur(6px);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.image-tool__image-picture {
  max-width: 96%;
  vertical-align: bottom;
  display: block;

}

.image-tool--withBorder .image-tool__image {
  border: 1px solid var(--border-color);
  border: 2px dashed #63eea8;
  border-radius: 14px;
}

.image-tool--BorderImagen26 .image-tool__image .image-tool__image-picture {

  border-radius: 16px;
  border: 3px solid #fff;
  box-shadow: 0px 0px 12px #3de984;
  backdrop-filter: blur(60px);
}

.image-tool--mirror-image .image-tool__image .image-tool__image-picture {
  transform: scaleX(-1);
  float: right;
}

.image-tool__image-picture {

  backdrop-filter: blur(60px);
}


.image-tool__image {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 2px;
  padding: 24px;
}

.tags-all {
  display: inline-block;
  list-style: none;
  padding: 0;
  margin: 0;
}

.tags-all li {
  display: inline-block;
  background-color: #f1f1f1;
  border-radius: 4px;
  padding: 4px 8px;
  margin-right: 6px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.tags-all li:last-child {
  margin-right: 0;
}

.tags-all li a {
  color: #333;
  text-decoration: none;
}

.tags-all li a:hover {
  text-decoration: underline;
}



.ce-code__textarea {
  background-color: rgba(2, 52, 71, 0.945);
  color: yellowgreen;
  border: 1px dashed yellowgreen;
  border-radius: 10px;
}

.ce-toolbar__actions {
  right: calc(100% + 3px);
  background-color: rgba(255, 255, 255, .5);
  border-radius: 4px;
}

.ce-editorjsColumns_col {
  border: 1px dashed #c2ccb9;
  border-radius: 5px;
  gap: 10px;
  padding-top: 10px;
}

.ce-editorjsColumns_col:focus-within {
  box-shadow: 0 6px 18px #e8edfa80;
}

#editorjs {
  background-color: rgb(255, 255, 255);
}


.ce-paragraph.cdx-block.ce-paragraph--left {
  background-color: #fffffe;
  border-radius: 10px;
  padding: 1px;
  margin: 3px;
  padding-left: 2px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-transform: capitalize;
}

.cdx-marker {
  background-color: #90f5c2;
  border-radius: 10px;
  padding: 1px;
  margin: 3px;
  padding-left: 2px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-transform: capitalize;
}

.input-wrapper {
  position: relative;
}

.input-float {
  padding: 4px;
  border: none;
  padding-left: 4px;
  box-shadow: none;
  transition: box-shadow 0.3s;
  font-weight: bold;
  font-size: 22px;
  text-transform: capitalize;

}

.input-float:hover {

  background-color: #d7f5e6;
}

.input-float:focus {
  outline: none;
  background-color: #e8ecf5;
  border: none;

}

.nav-link:hover {
  background-color: #ceffce;
  border-radius: 11px;
  padding: 6px;
  font-weight: bold;
}

body.dark .ban-dark:hover {
  background-color: #e95c80;
}

select option:checked {
  background: rgb(0, 211, 211);
  border-radius: 6px;
  margin-top: 2px;
  padding-left: 4px;
  border: 1px dashed rgb(27, 36, 9);
  font-weight: bold;
  margin-right: 4px;
  margin-left: 4px;
  color: #000;
  text-transform: uppercase;
}

select option {

  border-radius: 11px;
  margin: 2px;
  padding: 2px;

}

body.dark select option:checked {
  color: #000;
  background: rgb(100, 21, 96);
  border-radius: 6px;
  margin-top: 2px;
  padding-left: 4px;
  border: 1px dashed yellowgreen;
}

.dash-card:hover {
  background-color: rgba(30, 28, 31, 0.3);
  cursor: pointer;
  background: linear-gradient(to right, #cfcd49, #92fd92);
  border-radius: 10px;

}

.dash-card:hover {
  background-color: rgba(30, 28, 31, 0.3);
  cursor: pointer;
  background: linear-gradient(to right, #cfcd49, #92fd92);
  border-radius: 10px;

}

.dash-card2:hover {
  transition: 2.3s;
  background-color: rgba(30, 28, 31, 0.3);
  cursor: pointer;
  background: linear-gradient(to right, #797871, #2f2235);
  border-radius: 10px;

}

.dash-card {
  background-color: transparent;
  border: 0px solid #000000;
}

body.dark .dash-card:hover {
  background-color: rgba(30, 28, 31, 0.3);
  cursor: pointer;
  background: linear-gradient(to right, #bdb326, #92fd92);
  transition: 2.3s;
  border-radius: 26px;

}

.card-gb {
  background-color: rgba(255, 255, 255, 0.3);
  /* Fondo con transparencia */
  backdrop-filter: blur(10px);
  /* Desenfoque */
  -webkit-backdrop-filter: blur(10px);
  /* Desenfoque para navegadores basados en WebKit */
  padding: 10px;
  margin: 4px;
  border-radius: 10px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.navapp {
  display: flex;
  justify-content: center;
  background-color: transparent;
  padding: 0;
  margin: 0;
}

.navapp ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}

.navapp li {
  margin: 0 10px;
}

.navapp a {
  text-decoration: none;
  color: #000;
}

.navapp a:hover {
  color: #f5e2f5;

}

.buton69 {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  text-decoration: none;
  color: #000000;
  font-size: 18px;
  border-radius: 5px;
  margin-left: 2px;
  height: 30px;
  font-weight: bold;
  border: 2px dashed #000000;
  transition: 0.3s;
  background-color: #304549;
}

.buton69:hover {
  background: linear-gradient(to right, #7e31e2, #0c380c);
  background-color: #16f397;
}

.buton69:active {
  transform: scale(0.95);
}

.main-button {
  position: relative;
  transform: translateY(-3px);
  transition: all 0.3s ease;
  border: 2px solid transparent;

}

body.dark {
  background-color: #333;
  color: #f5f5f5;
}

body.dark tr.active {
  background-color: rgba(70, 24, 12, 0.288);
  color: #ffffff;
  font-weight: bold;
}

body.dark tr:hover {
  cursor: pointer;
  background-color: rgb(57, 92, 80);
  font-weight: bold;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(25, 184, 4, 0.2);
  transform: rotateX(10deg);
}

.select2-results__option:hover {
  text-align: center;
  background-color: rgb(150, 0, 219);
  color: #000000;
  border-radius: 10px;
  cursor: pointer;
  background-color: #D9AFD9;
  background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);

  margin-bottom: 10px;
  font-weight: bold;
  margin-left: 6px;
  margin-right: 6px;

}

body.dark .select2-results__option:hover {
  text-align: center;
  background-color: rgb(0, 255, 234);
  color: #000000;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 0 5px #ff00ff, 0 0 10px #ff00ff, 0 0 5px #ff00ff, 0 0 6px #ff00ff;
  margin-bottom: 10px;
  font-weight: bold;
  margin-left: 6px;
  margin-right: 6px;

}

/* start component */
.select2-container--open .select2-dropdown--below {
  border: 2px dashed rgb(123, 255, 0);
  border-radius: 11px;
  cursor: pointer;
  max-width: 230px;
}

.select2-container--default .select2-selection--single {
  width: 230px;
}

.select2-search--dropdown .select2-search__field {
  padding: 4px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 10px;
}

body.dark .select2-search__field {
  text-align: center;
  width: 460px;
  height: 40px;
  background-color: #2b123a;
  font-weight: bold;
  text-transform: uppercase;
  color: #00ff00;
  border-radius: 10px;
  border: 4px solid;
  box-shadow: 0 0 5px #ff00ff, 0 0 10px #ff00ff, 0 0 15px #ff00ff, 0 0 20px #ff00ff;
  max-width: 211px;
  margin-top: 3px;
}

body.dark .select2-container--open .select2-dropdown--below {
  border: 2px solid yellow;
  border-radius: 120px;
}

body.dark .select2-selection--single .select2-selection__rendered {
  width: 360px;
  max-width: 230px;
  border-radius: 10px;
  height: 33px;
}

body.dark .select2-container .select2-selection--single .select2-selection__rendered {
  padding-top: 3px;
}

body.dark .select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 26px;
  position: absolute;
  top: 3px;
  right: -8px;
  width: 26px;
  border-radius: 10px;
}

body.dark [id^="NotiflixLoadingWrap"]>p {
  background-color: transparent;
  /* Otros estilos para el elemento <p> en modo oscuro */
}

body.dark [id^="NotiflixLoadingWrap"]>div[class*="-icon"] svg {
  opacity: 50;
  background-color: transparent;
  border-radius: 10px;
}

body.dark [id^=NotiflixNotifyWrap]>div>span.nx-with-icon {
  position: relative;
  float: left;
  width: calc(100% - 40px);
  margin: 0 0 0 40px;
  padding: 0 0 0 10px;
  box-sizing: border-box;
  background-color: #1b0101;
  border-radius: 10px;
  padding: 2px;
  align-items: center;
  margin-left: 16%;
  padding-left: 4px;
  color: white;

}

body.dark .select2-container--default .select2-selection--single {
  background-color: transparent;
  border: 0px;
  border-radius: 4px;
}

body.dark .select2-selection__rendered {
  background-color: #8f15d6;
  color: #00ff00;
  font-weight: bold;
  text-transform: uppercase;

}

.select2-search__field {
  text-align: center;
  width: 260px;
  background-color: #caf1cc;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 10px;
  height: 40px;
  /*
  background-color: #FFDEE9;
background-image: linear-gradient(0deg, #FFDEE9 0%, #B5FFFC 100%);
*/

}

.select2-container {
  max-width: 230px;
}

.select2-container--open .select2-dropdown--below {
  border: 2px dashed rgb(123, 255, 0);
  border-radius: 11px;
  cursor: pointer;
}

.select2-results__option {
  text-align: center;
  font-weight: bold;
  margin-left: 6px;
  margin-right: 6px;
}

tr {
  justify-content: center;
  align-items: center;
}

tr:hover {
  cursor: pointer;
  background-color: rgba(42, 243, 173, 0.2);
  /* 0.5 es el valor de alfa (transparencia) */
  font-weight: bold;
  border-radius: 10px;
}

tr.active {
  background-color: rgba(184, 114, 10, 0.2);
  /* 0.5 es el valor de alfa (transparencia) */
  color: #241919;
  font-weight: bold;
}

body.dark * {
  background-color: #333;
  color: #f5f5f5;
}

body.dark a {
  color: #11e279;
}

body.dark a:hover {
  color: rgb(230, 203, 50);

  font-weight: bold;
}

body.dark .icon-50 {
  background-color: rgb(59, 102, 95);
}

body.dark .dropdown-menu li:hover {
  background-color: red;
}

body.dark .dropdown-menu a:hover {
  background-color: #520281;
  color: rgb(200, 255, 0);
  font-weight: bold;
}

body.dark #btn-new {
  transition: all 0.3s ease;
  border: 2px solid transparent;
}

body.dark #btn-new:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  border: 2px solid #00ff00;
  /* Reemplaza #00ff00 con el color que desees para el borde */
}


body.dark .main-button:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  border: 2px solid #53f0bb;
  /* Reemplaza #00ff00 con el color que desees para el borde */
}

.main-button:hover {
  transform: translateY(-3px);
  border: 2px solid #02f0a1;
  /* Reemplaza #00ff00 con el color que desees para el borde */
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
}


body.dark .bi-bootstrap {
  color: #11e279;
}

body.dark #siderbarappbuton span i {

  color: #01be60;
}

body.dark .shadow-sm {
  /*  Bodyy Dark Neo */
  text-shadow: 0 0 10px #01be60, 0 0 20px #01be60, 0 0 15px #01be60, 0 0 20px #01be60, 0 0 25px #01be60, 0 0 15px #01be60, 0 0 15px #01be60;
}

.wrapper {
  position: relative;

}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.active-menu-td {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 60px;
  background-color: #8ef309;
  border-radius: 50%;
  color: #000102;
  text-align: center;
  line-height: 60px;

}

.active-menu-td:after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  width: 96%;
  height: 90%;
  border: 3px solid #69d369;
  border-top: 6px solid transparent;
  border-radius: 50%;
  top: 4.5%;
  left: 3.2%;
  animation: spin 2s linear infinite;
  box-shadow: 0 0 6px rgb(0, 255, 221), 0 0 6px #0f0, 0 0 6px rgb(248, 148, 55);
  transition: all 0.4s ease;
}

.menu-table {
  position: absolute;
  top: 50%;
  left: -490%;
  transform: translate(0, -50%);

  display: flex;
  align-items: center;
  justify-content: space-around;
  z-index: 1000;
  background-color: transparent;

}

body.dark .tagneon:hover {
  cursor: pointer;
  transition: all 0.4s ease;
  display: flex;
  padding: 2px;
  border-radius: 10px;
  border: 2px solid rgb(137, 0, 190);
  box-shadow: 0 0 5px #ff00ff, 0 0 10px #ff00ff, 0 0 5px #ff00ff, 0 0 10px #ff00ff, 0 0 15px #ff00ff, 0 0 15px #ff00ff, 0 0 15px #ff00ff;
}

body.dark .tagneon:active {
  border: 2.5px solid yellow;
  /* Cambia el color del borde a amarillo */
}

body.dark .tagneon {
  z-index: 100;
  padding: 4px;
  border-radius: 10px;
  border: 2px solid purple;
  cursor: pointer;
  transition: all 0.4s ease;
  display: flex;
  border-radius: 10px;
  justify-content: center;
  /* Centrar el contenido horizontalmente */
  align-items: center;
  /* Centrar el contenido verticalmente */

}

body.dark .menu-table {
  border-radius: 30%;
  box-shadow: 0 0 5px #ff00ff, 0 0 10px #ff00ff, 0 0 15px #ff00ff, 0 0 20px #ff00ff, 0 0 25px #ff00ff, 0 0 30px #ff00ff, 0 0 35px #ff00ff;
}

.menu-item {
  width: 30px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1a202c;
  color: #cbd5e0;
  border: none;
  font-size: 0.8em;
  text-align: center;
  margin-right: 1px;
}

.menu-item:hover {
  background-color: #2d3748;
  color: #a0aec0;
}

body {
  background-color: #FFDEE9;
  background-image: linear-gradient(0deg, #db7bf3 0%, #B5FFFC 73%, #ffffff 100%);

}

.custom-link {
  text-decoration: none;
  /* Quitar el subrayado */
  color: #000000;
  transition: color 1.3s;
  /* Animación de transición */
  padding: 1px;
  border-radius: 11px;

}

.custom-link:hover {
  font-weight: bold;
  font: size 18px;
  color: #0f0f0f;
  background-color: #8a00ca;
  border-radius: 8px;
  /* Bordes redondeados */
  color: #000000;
  border-bottom: 2px;
  box-shadow: 0 4px 26px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
}


@media (min-width: 300px) and (max-width: 770px) {
  #btncomlenguaje {
    position: relative;
    margin-right: -8px;
    margin-top: 46px;
  }
}

.bi-bootstrap {
  transition: color 0.5s ease;
  /* Esto hará que el cambio de color sea suave */
  color: #1698c7;
}

#sidebar-app li {
  transition: transform 1.2s ease;
  /* Esto hará que el cambio de tamaño sea suave */
  color: #dc3545;
  /* Este es el color "danger" de Bootstrap */
}

#sidebar-app li:hover {
  color: #dc3545;
  /* Este es el color "danger" de Bootstrap */
  transform: scale(1.1);
  /* Esto agrandará el elemento un 2% (que sería aproximadamente 2px para un elemento de 100px) */
}

.border-color-gray {
  border-color: #f2f3fa;
}

.border-all-1 {
  border: 1px solid;
}

.hover-top {
  position: relative;
  top: 0;
}

.m-15px-tb {
  margin-top: 15px;
  margin-bottom: 15px;
}

.overlay-link {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: 0;
}

.border-radius-50 {
  border-radius: 50%;
}

.icon-50 {
  width: 50px;
  height: 50px;
  text-align: center;
  font-size: 21px;
}

.white-color {
  color: #ffffff;
}

.theme-bg {
  background-color: #0050d8;
}

.icon-50 i.number {
  font-style: normal;
}

.icon-50 i {
  line-height: 50px;
}

.p-20px-l {
  padding-left: 20px;
}

.p-10px-lr {
  padding-left: 10px;
  padding-right: 10px;
}

.p-0px-tb {
  padding-top: 0px;
  padding-bottom: 0px;
}

.border-radius-15 {
  border-radius: 15px;
}

.white-color {
  color: #ffffff;
}

.theme2nd-bg {
  background-color: #53d267;
}

.m-0px {
  margin: 0px;
}

.font-small {
  font-size: .75rem;
  line-height: 1rem;
}

.green-bg-alt {
  background-color: rgba(17, 226, 121, 0.1);
}

.green-bg {
  background-color: #11e279;
}

.green-after:after {
  background-color: #11e279;
}

.green-before:before {
  background-color: #11e279;
}

.green-color-alt {
  color: rgba(17, 226, 121, 0.65);
}

.green-color {
  color: #11e279;
}

.blue-bg-alt {
  background-color: rgba(21, 178, 236, 0.1);
}

.blue-bg {
  background-color: #15b2ec;
}

.blue-after:after {
  background-color: #15b2ec;
}

.blue-before:before {
  background-color: #15b2ec;
}

.blue-color-alt {
  color: rgba(21, 178, 236, 0.65);
}

.blue-color {
  color: #025370;
}

.pink-bg-alt {
  background-color: rgba(241, 38, 153, 0.1);
}

.pink-bg {
  background-color: #f12699;
}

.pink-after:after {
  background-color: #f12699;
}

.pink-before:before {
  background-color: #f12699;
}

.pink-color-alt {
  color: rgba(241, 38, 153, 0.65);
}

.pink-color {
  color: #f12699;
}

.body-bg-alt {
  background-color: rgba(113, 128, 150, 0.1);
}

.body-bg {
  background-color: #718096;
}

.body-after:after {
  background-color: #718096;
}

.body-before:before {
  background-color: #718096;
}

.body-color-alt {
  color: rgba(113, 128, 150, 0.65);
}

.body-color {
  color: #718096;
}

.white-color-light {
  color: rgba(255, 255, 255, 0.65);
}

.bg-transparent {
  background-color: transparent;

}

.cam4-bg {
  background: linear-gradient(to right, #ff8a2a, #f36d00);
  color: #000;
}

.dark-g-bg {
  background: linear-gradient(50deg, #273444 0, #272b44 100%);
}

.yellow-bg {
  background-color: #ffbe3d;
}

.red-bg {
  background-color: #ff0c0c;
}

.blue-bg {
  background-color: #2b0c74;
}

.stript-bg {
  background-color: #741c0c;
}

.facexcam-bg {
  background-color: #270903;
}

.soda-bg {
  background-color: #74c7f7;
}

.cherry-bg {
  background-color: #8d0382;
}

.border-radius-50 {
  border-radius: 50%;
}

.icon-50 {
  width: 50px;
  height: 50px;
  text-align: center;
  font-size: 21px;

}

.box-shadow-only-hover:hover {
  box-shadow: 0 1.5rem 4rem rgba(179, 0, 149, 0.1);
}

.border-color-gray {
  border-color: #f2f3fa !important;
}

.border-all-1 {
  border: 1px solid;
}

#sidebar-app .nav-link {
  position: relative;
}

.wrapper .nav-link::after {
  content: attr(tooltips);
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translate(5px, -50%);
  padding: 4px 8px;
  background-color: #000;
  color: #fff;
  font-size: 14px;
  border-radius: 4px;
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
}

.wrapper .nav-link:hover::after {
  opacity: 1;
  visibility: visible;
}

#sidebar-app .nav-link::after {
  content: attr(tooltips);
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translate(5px, -50%);
  padding: 4px 8px;
  background-color: #000;
  color: #fff;
  font-size: 14px;
  border-radius: 4px;
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;

}

#sidebar-app .nav-link:hover::after {
  opacity: 1;
  visibility: visible;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #640080 #0a0a0b;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 16px;
}

*::-webkit-scrollbar-track {
  background: #0a0a0b;
}

*::-webkit-scrollbar-thumb {
  background-color: #640080;
  border-radius: 10px;
  border: 3px solid #0d1c19;
}


.sidebar-sticky {
  position: sticky;
  z-index: 1000;
  /* A high z-index to make the sidebar appear on top of other elements */
  top: 50%;
}

.custom-link {
  color: black;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.custom-link:hover {
  color: white;
  /* Cambia el color del texto al pasar el mouse */
  font-weight: bold;
}

.floating-menu {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  position: fixed;
  top: 40%;
  right: 40px;
  width: 200px;
  /* Ajusta este valor según sea necesario */
  z-index: 9999;
  /* Asegúrate de que el menú esté por encima de otros elementos */
}

.floating-button {
  position: fixed;
  top: 50%;
  right: 0;
  z-index: 9999;
  /* Asegúrate de que el botón esté por encima de otros elementos */
  transform: translateY(-50%);
  /* Centra verticalmente el botón */
  margin-right: 2px;
}

.punter {
  cursor: pointer;
}

.navbar a {
  cursor: pointer;
}

.language-icon {
  width: 16px;
  height: 16px;
  margin-right: -2px;
  margin-top: -3px;
}

.dropdown-item.text-decoration-none {
  text-decoration: none;
}

.toggle2 {
  margin-top: 2.8px;
  cursor: pointer;
  display: inline-block;
  padding: 0.14em;
}

.toggle2-switch {
  display: inline-block;
  background: #300202;
  border-radius: 11.2px;
  width: 40.6px;
  height: 22.4px;
  position: relative;
  vertical-align: middle;
  transition: background 0.25s;
}

.toggle2-switch:before,
.toggle2-switch:after {
  content: "";
}

.toggle2-switch:before {
  display: block;
  background: linear-gradient(to bottom, #fff 0%, #eee 100%);
  border-radius: 50%;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25);
  width: 16.8px;
  height: 16.8px;
  position: absolute;
  top: 2.8px;
  left: 1.8px;
  transition: left 0.25s;
}

.toggle2:hover .toggle2-switch:before {
  background: linear-gradient(to bottom, #fff 0%, #fff 100%);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5);
}

.toggle2-checkbox:checked+.toggle2-switch {
  background: #f7fcf9;
}

.toggle2-checkbox:checked+.toggle2-switch:before {
  left: 20px;
}

.toggle2-checkbox {
  position: absolute;
  visibility: hidden;
}

.toggle2-label {
  margin-left: 5px;
  position: relative;
  top: 2px;
}

.toggle {
  margin-top: 4px;
  cursor: pointer;
  display: inline-block;
}

.toggle-switch {
  display: inline-block;
  background: #ccc;
  border-radius: 16px;
  width: 58px;
  height: 32px;
  position: relative;
  vertical-align: middle;
  transition: background 0.25s;
}

.toggle-switch:before,
.toggle-switch:after {
  content: "";
}

.toggle-switch:before {
  display: block;
  background: linear-gradient(to bottom, #fff 0%, #eee 100%);
  border-radius: 50%;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25);
  width: 24px;
  height: 24px;
  position: absolute;
  top: 4px;
  left: 4px;
  transition: left 0.25s;
}

.toggle:hover .toggle-switch:before {
  background: linear-gradient(to bottom, #fff 0%, #fff 100%);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5);
}

.toggle-checkbox:checked+.toggle-switch {
  background: #56c080;
}

.toggle-checkbox:checked+.toggle-switch:before {
  left: 30px;
}

.toggle-checkbox {
  position: absolute;
  visibility: hidden;
}

.toggle-label {
  margin-left: 5px;
  position: relative;
  top: 2px;
}


#btn-new {
  transition: all 0.3s ease;
  border: 2px solid transparent;
}

body.dark #btn-new2 {
  transition: all 0.3s ease;
  border: 2px solid transparent;
}

body.dark #btn-new2:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  border: 2px solid #00ff00;
  /* Reemplaza #00ff00 con el color que desees para el borde */
}

#btn-new2:hover {
  transform: translateY(-3px);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  border: 2px solid #0bf0e4;
  /* Reemplaza #00ff00 con el color que desees para el borde */
}

#btn-new2 {
  transition: all 0.3s ease;
  border: 2px solid transparent;
}

#btn-store,
#btn-close,
#btn-update {
  transition: all 0.3s ease;
  border: 2px solid transparent;
}

#btn-store:hover,
#btn-update:hover,
#btn-close:hover,
#btn-new:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  border: 2px solid #635994;
}

body.dark #btn-close:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  border: 2px solid #f0108b;
  /* Reemplaza #00ff00 con el color que desees para el borde */
}

body.dark .nx-message {
  color: #4df89a !important;
  /* Cambia '#yourColor' con el color que desees para el mensaje */
  padding: 2px;
  margin-left: 4px;
  max-width: 240px;
}

.nx-message {
  color: #e4e9e6 !important;
  /* Cambia '#yourColor' con el color que desees para el mensaje */

}

body.dark .nx-message-icon {
  width: 36px !important;
  /* Cambia '50px' con el tamaño que desees para el icono */
  height: 36px !important;
  z-index: 999;
  background-color: transparent;
  opacity: 0.9 !important;

}

body.dark .notiflix-confirm-content {
  background-color: #01be60;
}