body {
    background-color: #fdfcfd;
   background-image: linear-gradient(0deg, #99879e 0%, #B5FFFC 73%, #ffffff 100%); 
  }
  .resizable-image {
    resize: both;
    overflow: auto;
    border: 2px dashed #333;
  }
